<app-hello>Hello, this is John Cena!!!</app-hello>
<hr>
<div>
  內嵌繫結
  <br> {{ 1 + 1 }}
  <br> {{ title }}
  <br>
  <img width="100" src="{{imageUrl}}" />
</div>
<hr>
<div>
  屬性繫結
  <br> <img [src]="imageUrl" width="100">
  <br> <img bind-src="imageUrl" width="100">
  <br> <button [disabled]="isDisabled">Hello</button>
  <br>
  <table>
    <tr>
      <td colspan="2">A</td>
      <td>B</td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <td [colSpan]="spanNum">AA</td>
      <td>BB</td>
    </tr>
  </table>
</div>
<hr>
<div>
  事件繫結
  <br> <button (click)="save()">(click)</button><br>
  <br> <button on-click="save()">on-click</button>
</div>
<hr>
<div>
  雙向繫結
  <br> <input type="text" [(ngModel)]="name">
  <br> <br>
  {{ name }}
  <br><br>
  <input type="text" (ngModelChange)="name = $event" [ngModel]="name">
</div>
<hr>
<div>
  <app-header></app-header>
</div>
<hr>
<div>
  <app-input-demo [dataSource]="dataSource"></app-input-demo>
  <!--<app-input-demo [myDataSource]="dataSource"></app-input-demo>-->
</div>
<hr>
<div>
  <app-output-demo [dataSource]="dataSource" (onDelete)="delete($event)"></app-output-demo>
  <!--<app-output-demo [dataSource]="dataSource" (myOnDelete)="delete($event)"></app-output-demo>-->
</div>
